<h1>Rental Details</h1>

<table class="table table-boarderd">
 <tbody>
   <tr>
     <td width="200",class="info">Name</td> <td><%= @rental.User.name %></td>
    </tr>
    <tr>
     <td width="200",class="info">Description</td> <td><%= @rental.rental_date %></td>
    </tr>
    <tr>
     <td width="200",class="info">Quanlity</td> <td><%= @rental.due_date %></td>
    </tr>
    <tr>
     <td width="200",class="info">Status</td>
     <td>
     <%= render 'status_view', data: @rental.status>
     </td>
     </tr>
     </tbody>
     </table>