<h1> Labware Details </h1>

<table class="tabletable-bordered">
 <tbody>
    <tr>
    <td width="200", class="info">Labware Name</td> <td><%= @labware.name %></td>
    </tr>
    <tr>
    <td width="200", class="info">Labware Rest</td> <td><%= @labware.rest %></td>
    </tr>
    <tr>
    <td width="200", class="info">Labware Loan</td> <td><%= @labware.loan %></td>
    </tr>
    <tr>
    <td width="200", class="info">Labware Group</td> <td><%= @labware.group %></td>
    </tr>
 </tbody>
 </table>
 